In [2]:
import pandas as pd
import pickle
import warnings
warnings.filterwarnings("ignore")
data=pd.read_csv("C:/Users/umaac/OneDrive/Desktop/RainfallIND.csv")
data

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4111,LAKSHADWEEP,2011,5.1,2.8,3.1,85.9,107.2,153.6,350.2,254.0,255.2,117.4,184.3,14.9,1533.7,7.9,196.2,1013.0,316.6
4112,LAKSHADWEEP,2012,19.2,0.1,1.6,76.8,21.2,327.0,231.5,381.2,179.8,145.9,12.4,8.8,1405.5,19.3,99.6,1119.5,167.1
4113,LAKSHADWEEP,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,154.4,180.0,72.8,78.1,26.7,1426.3,60.6,131.1,1057.0,177.6
4114,LAKSHADWEEP,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,466.1,132.2,169.2,59.0,62.3,1395.0,69.3,76.7,958.5,290.5
4115,LAKSHADWEEP,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,146.4,160.4,165.4,231.0,159.0,1642.9,2.7,223.9,860.9,555.4

In [3]:
data.head(50)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8
5,ANDAMAN & NICOBAR ISLANDS,1906,36.6,0.0,0.0,0.0,556.1,733.3,247.7,320.5,164.3,267.8,128.9,79.2,2534.4,36.6,556.1,1465.8,475.9
6,ANDAMAN & NICOBAR ISLANDS,1907,110.7,0.0,113.3,21.6,616.3,305.2,443.9,377.6,200.4,264.4,648.9,245.6,3347.9,110.7,751.2,1327.1,1158.9
7,ANDAMAN & NICOBAR ISLANDS,1908,20.9,85.1,0.0,29.0,562.0,693.6,481.4,699.9,428.8,170.7,208.1,196.9,3576.4,106.0,591.0,2303.7,575.7
8,ANDAMAN & NICOBAR ISLANDS,1910,26.6,22.7,206.3,89.3,224.5,472.7,264.3,337.4,626.6,208.2,267.3,153.5,2899.4,49.3,520.1,1701.0,629.0
9,ANDAMAN & NICOBAR ISLANDS,1911,0.0,8.4,0.0,122.5,327.3,649.0,253.0,187.1,464.5,333.8,94.5,247.1,2687.2,8.4,449.8,1553.6,675.4
10,ANDAMAN & NICOBAR ISLANDS,1912,583.7,0.8,0.0,21.9,140.7,549.8,468.9,370.3,386.2,318.7,117.2,2.3,2960.5,584.5,162.6,1775.2,438.2
11,ANDAMAN & NICOBAR ISLANDS,1913,84.8,0.5,1.3,2.5,190.7,530.0,280.8,205.8,580.1,288.8,133.0,67.5,2365.8,85.3,194.5,1596.7,489.3
12,ANDAMAN & NICOBAR ISLANDS,1914,0.0,0.0,0.0,37.7,298.8,383.3,792.8,520.5,310.8,139.8,184.4,289.7,2957.8,0.0,336.5,2007.4,613.9
13,ANDAMAN & NICOBAR ISLANDS,1915,45.0,56.7,33.3,40.9,170.2,334.7,269.0,317.2,429.8,468.1,258.4,318.0,2741.3,101.7,244.4,1350.7,1044.5
14,ANDAMAN & NICOBAR ISLANDS,1916,0.0,0.0,0.0,0.5,487.4,450.1,317.3,425.0,561.2,369.7,192.6,133.7,2937.5,0.0,487.9,1753.6,696.0
15,ANDAMAN & NICOBAR ISLANDS,1917,8.0,3.6,112.0,4.5,295.9,301.1,394.8,437.4,471.8,238.1,108.3,236.9,2612.4,11.6,412.4,1605.1,583.3
16,ANDAMAN & NICOBAR ISLANDS,1918,77.4,6.9,11.4,10.7,729.3,710.8,200.9,455.4,303.3,227.0,366.9,175.0,3275.0,84.3,751.4,1670.4,768.9
17,ANDAMAN & NICOBAR ISLANDS,1919,10.2,18.0,0.0,35.5,283.9,542.5,246.5,259.8,170.7,186.2,340.4,258.4,2352.1,28.2,319.4,1219.5,785.0
18,ANDAMAN & NICOBAR ISLANDS,1920,122.3,7.4,3.1,13.0,237.4,546.9,294.4,467.4,505.4,397.5,262.9,85.5,2943.2,129.7,253.5,1814.1,745.9
19,ANDAMAN & NICOBAR ISLANDS,1921,13.2,3.1,0.0,37.5,351.2,282.7,487.1,330.0,581.2,360.7,118.2,41.5,2606.4,16.3,388.7,1681.0,520.4
20,ANDAMAN & NICOBAR ISLANDS,1922,245.3,34.3,15.6,323.1,289.7,506.1,425.8,307.4,511.7,162.0,541.0,192.2,3554.2,279.6,628.4,1751.0,895.2
21,ANDAMAN & NICOBAR ISLANDS,1923,79.5,0.0,NaN,91.3,293.5,808.4,636.9,182.2,560.5,131.9,197.4,70.6,NaN,79.5,NaN,2188.0,399.9
22,ANDAMAN & NICOBAR ISLANDS,1924,28.7,0.0,14.8,89.7,191.2,261.2,493.3,290.9,251.2,331.1,378.6,NaN,NaN,28.7,295.7,1296.6,NaN
23,ANDAMAN & NICOBAR ISLANDS,1925,36.6,0.0,8.6,50.4,282.2,663.8,241.8,278.2,201.9,249.5,271.5,196.0,2480.5,36.6,341.2,1385.7,717.0
24,ANDAMAN & NICOBAR ISLANDS,1926,122.1,0.0,0.0,0.5,198.4,370.0,195.3,523.7,719.3,443.8,148.4,560.7,3282.2,122.1,198.9,1808.3,1152.9
25,ANDAMAN & NICOBAR ISLANDS,1927,3.0,17.5,17.8,108.6,504.1,433.3,195.2,370.1,126.2,327.5,274.1,65.5,2442.9,20.5,630.5,1124.8,667.1
26,ANDAMAN & NICOBAR ISLANDS,1928,50.9,67.6,80.7,129.3,499.5,410.2,406.3,391.5,404.8,444.5,99.5,13.5,2998.3,118.5,709.5,1612.8,557.5
27,ANDAMAN & NICOBAR ISLANDS,1929,74.2,118.4,129.2,69.8,316.6,588.8,134.0,644.7,172.9,413.0,251.5,13.5,2926.6,192.6,515.6,1540.4,678.0
28,ANDAMAN & NICOBAR ISLANDS,1930,87.4,105.4,131.2,10.9,231.5,533.6,317.9,446.7,677.2,82.3,249.4,201.6,3075.1,192.8,373.6,1975.4,533.3
29,ANDAMAN & NICOBAR ISLANDS,1931,25.3,0.0,2.5,2.5,205.4,393.5,289.3,571.0,294.4,368.3,22.8,182.7,2357.7,25.3,210.4,1548.2,573.8
30,ANDAMAN & NICOBAR ISLANDS,1932,2.8,2.5,10.1,58.2,479.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.3,548.0,NaN,NaN
31,ANDAMAN & NICOBAR ISLANDS,1933,4.5,11.7,8.1,58.4,365.4,544.2,376.6,294.1,759.0,239.8,268.8,56.9,2987.5,16.2,431.9,1973.9,565.5
32,ANDAMAN & NICOBAR ISLANDS,1934,7.3,172.9,6.9,131.4,62.0,708.4,323.5,924.9,761.1,338.1,240.2,46.1,3722.8,180.2,200.3,2717.9,624.4
33,ANDAMAN & NICOBAR ISLANDS,1935,6.6,0.0,0.5,133.6,726.8,374.1,368.7,411.6,578.9,182.4,275.4,95.4,3154.0,6.6,860.9,1733.3,553.2
34,ANDAMAN & NICOBAR ISLANDS,1936,16.5,15.3,116.5,NaN,194.3,498.3,664.8,562.9,383.8,174.9,199.2,212.2,NaN,31.8,NaN,2109.8,586.3
35,ANDAMAN & NICOBAR ISLANDS,1937,21.6,10.7,0.0,112.0,330.5,732.8,449.5,332.0,349.5,383.3,251.7,617.5,3591.1,32.3,442.5,1863.8,1252.5
36,ANDAMAN & NICOBAR ISLANDS,1938,13.4,57.2,50.5,101.6,368.9,668.6,318.2,397.1,546.7,318.4,316.3,107.5,3264.4,70.6,521.0,1930.6,742.2
37,ANDAMAN & NICOBAR ISLANDS,1939,54.1,1.5,16.1,77.3,480.5,541.0,335.6,202.8,512.5,263.9,165.9,131.3,2782.5,55.6,573.9,1591.9,561.1
38,ANDAMAN & NICOBAR ISLANDS,1940,0.5,2.8,59.4,0.0,320.7,335.4,268.1,889.2,477.5,114.1,221.0,318.8,3007.5,3.3,380.1,1970.2,653.9
39,ANDAMAN & NICOBAR ISLANDS,1941,0.0,12.8,0.0,77.8,251.9,497.0,302.5,311.9,516.0,382.8,266.0,279.5,2898.2,12.8,329.7,1627.4,928.3
40,ANDAMAN & NICOBAR ISLANDS,1942,39.2,7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.6,NaN,NaN,NaN
41,ANDAMAN & NICOBAR ISLANDS,1946,84.4,3.6,21.1,135.2,309.1,535.9,189.0,367.4,478.3,276.9,146.9,243.8,2791.6,88.0,465.4,1570.6,667.6
42,ANDAMAN & NICOBAR ISLANDS,1947,25.1,111.1,63.2,127.7,206.3,965.6,490.0,293.7,NaN,376.0,67.5,168.6,NaN,136.2,397.2,NaN,612.1
43,ANDAMAN & NICOBAR ISLANDS,1949,0.0,56.4,0.0,166.5,405.8,658.4,743.3,404.0,627.5,339.6,81.1,7.0,3489.6,56.4,572.3,2433.2,427.7
44,ANDAMAN & NICOBAR ISLANDS,1950,0.8,0.0,0.0,95.5,264.2,369.9,366.7,347.3,494.5,224.6,89.3,169.4,2422.2,0.8,359.7,1578.4,483.3
45,ANDAMAN & NICOBAR ISLANDS,1951,82.7,7.2,0.0,45.4,259.0,619.9,665.3,101.3,360.9,489.0,209.6,434.8,3275.1,89.9,304.4,1747.4,1133.4
46,ANDAMAN & NICOBAR ISLANDS,1952,0.0,0.8,69.7,39.4,452.9,657.7,385.5,541.3,240.3,315.6,287.5,89.2,3079.9,0.8,562.0,1824.8,692.3
47,ANDAMAN & NICOBAR ISLANDS,1953,56.0,65.3,20.1,159.4,241.1,549.9,444.4,262.8,370.1,243.6,246.0,63.3,2721.9,121.3,420.5,1627.1,552.9
48,ANDAMAN & NICOBAR ISLANDS,1954,83.8,2.1,34.3,58.0,394.7,539.4,510.8,605.4,763.8,247.2,84.8,124.7,3449.0,85.9,487.0,2419.4,456.7
49,ANDAMAN & NICOBAR ISLANDS,1955,57.3,28.2,9.9,68.8,663.6,651.1,298.4,356.9,341.8,466.5,362.9,44.2,3349.6,85.5,742.2,1648.3,873.6

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4116 entries, 0 to 4115
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SUBDIVISION  4116 non-null   object
 1   YEAR         4116 non-null   int64
 2   JAN          4112 non-null   float64
 3   FEB          4113 non-null   float64
 4   MAR          4110 non-null   float64
 5   APR          4112 non-null   float64
 6   MAY          4113 non-null   float64
 7   JUN          4111 non-null   float64
 8   JUL          4109 non-null   float64
 9   AUG          4112 non-null   float64
 10  SEP          4110 non-null   float64
 11  OCT          4109 non-null   float64
 12  NOV          4105 non-null   float64
 13  DEC          4106 non-null   float64
 14  ANNUAL       4090 non-null   float64
 15  Jan-Feb      4110 non-null   float64
 16  Mar-May      4107 non-null   float64
 17  Jun-Sep      4106 non-null   float64
 18  Oct-Dec      4103 non-null   float64
dtypes: float64(17), int64(1), object(1)
memory usage: 611.1+ KB

In [5]:
data.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
count,4116.000000,4112.000000,4113.000000,4110.000000,4112.000000,4113.000000,4111.000000,4109.000000,4112.000000,4110.000000,4109.000000,4105.000000,4106.000000,4090.000000,4110.000000,4107.000000,4106.000000,4103.000000
mean,1958.218659,18.957320,21.805325,27.359197,43.127432,85.745417,230.234444,347.214334,290.263497,197.361922,95.507009,39.866163,18.870580,1411.008900,40.747786,155.901753,1064.724769,154.100487
std,33.140898,33.585371,35.909488,46.959424,67.831168,123.234904,234.710758,269.539667,188.770477,135.408345,99.519134,68.685410,42.369611,903.846565,59.308277,201.316965,707.741531,166.942660
min,1901.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,62.300000,0.000000,0.000000,57.400000,0.000000
25%,1930.000000,0.600000,0.600000,1.000000,3.000000,8.600000,70.350000,175.600000,155.975000,100.525000,14.600000,0.700000,0.100000,804.500000,4.100000,24.050000,573.850000,34.200000
50%,1958.000000,6.000000,6.700000,7.800000,15.700000,36.600000,138.700000,284.800000,259.400000,173.900000,65.200000,9.500000,3.000000,1121.300000,19.200000,74.800000,881.100000,98.200000
75%,1987.000000,22.200000,26.800000,31.300000,49.950000,97.200000,305.150000,418.400000,377.800000,265.800000,148.400000,46.100000,17.500000,1644.775000,50.375000,196.950000,1288.175000,213.500000
max,2015.000000,583.700000,403.500000,605.600000,595.100000,1168.600000,1609.900000,2362.800000,1664.600000,1222.000000,948.300000,648.900000,617.500000,6331.100000,699.500000,1745.800000,4536.900000,1252.500000

In [6]:
list(data)

['SUBDIVISION',
 'YEAR',
 'JAN',
 'FEB',
 'MAR',
 'APR',
 'MAY',
 'JUN',
 'JUL',
 'AUG',
 'SEP',
 'OCT',
 'NOV',
 'DEC',
 'ANNUAL',
 'Jan-Feb',
 'Mar-May',
 'Jun-Sep',
 'Oct-Dec']

In [7]:
data.shape

(4116, 19)

In [8]:
data.isnull().sum()

SUBDIVISION     0
YEAR            0
JAN             4
FEB             3
MAR             6
APR             4
MAY             3
JUN             5
JUL             7
AUG             4
SEP             6
OCT             7
NOV            11
DEC            10
ANNUAL         26
Jan-Feb         6
Mar-May         9
Jun-Sep        10
Oct-Dec        13
dtype: int64

In [9]:
data1=data.drop(['ANNUAL','Jan-Feb','Mar-May','Jun-Sep','Oct-Dec'],axis=1)
data1

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4111,LAKSHADWEEP,2011,5.1,2.8,3.1,85.9,107.2,153.6,350.2,254.0,255.2,117.4,184.3,14.9
4112,LAKSHADWEEP,2012,19.2,0.1,1.6,76.8,21.2,327.0,231.5,381.2,179.8,145.9,12.4,8.8
4113,LAKSHADWEEP,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,154.4,180.0,72.8,78.1,26.7
4114,LAKSHADWEEP,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,466.1,132.2,169.2,59.0,62.3
4115,LAKSHADWEEP,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,146.4,160.4,165.4,231.0,159.0

In [10]:
# import seaborn as sns
# import matplotlib.pyplot as plt
# sns.boxplot(data.JAN)
# plt.show()

In [11]:
# data1=data1.groupby(['SUBDIVISION']).count()
# data1

In [12]:
x = data1['SUBDIVISION'].unique().tolist()
for i in x:
    print(i)
    z = data1[data1['SUBDIVISION'] == i]
    print(z.isna().sum())
    print("#####################")

ANDAMAN & NICOBAR ISLANDS
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            2
APR            2
MAY            1
JUN            2
JUL            2
AUG            2
SEP            3
OCT            2
NOV            2
DEC            3
dtype: int64
#####################
ARUNACHAL PRADESH
SUBDIVISION    0
YEAR           0
JAN            1
FEB            1
MAR            2
APR            0
MAY            0
JUN            1
JUL            1
AUG            0
SEP            0
OCT            2
NOV            2
DEC            2
dtype: int64
#####################
ASSAM & MEGHALAYA
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
NAGA MANI MIZO TRIPURA
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
SUB HIMALAYAN WEST BENGAL & SIKKIM
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
GANGETIC WEST BENGAL
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
ORISSA
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
JHARKHAND
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
BIHAR
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
EAST UTTAR PRADESH
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
WEST UTTAR PRADESH
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
UTTARAKHAND
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
HARYANA DELHI & CHANDIGARH
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
PUNJAB
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
HIMACHAL PRADESH
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
JAMMU & KASHMIR
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            1
AUG            0
SEP            0
OCT            0
NOV            1
DEC            1
dtype: int64
#####################
WEST RAJASTHAN
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
EAST RAJASTHAN
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
WEST MADHYA PRADESH
SUBDIVISION    0
YEAR           0
JAN            0
FEB            1
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
EAST MADHYA PRADESH
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
GUJARAT REGION
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
SAURASHTRA & KUTCH
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
KONKAN & GOA
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
MADHYA MAHARASHTRA
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
MATATHWADA
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
VIDARBHA
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
CHHATTISGARH
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
COASTAL ANDHRA PRADESH
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
TELANGANA
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
RAYALSEEMA
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
TAMIL NADU
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
COASTAL KARNATAKA
SUBDIVISION    0
YEAR           0
JAN            1
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
NORTH INTERIOR KARNATAKA
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
SOUTH INTERIOR KARNATAKA
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
KERALA
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64
#####################
LAKSHADWEEP
SUBDIVISION    0
YEAR           0
JAN            2
FEB            1
MAR            2
APR            2
MAY            2
JUN            2
JUL            3
AUG            2
SEP            3
OCT            3
NOV            6
DEC            4
dtype: int64
#####################

In [13]:
data2=data1.loc[(data.SUBDIVISION=='ANDAMAN & NICOBAR ISLANDS')]
data2

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,ANDAMAN & NICOBAR ISLANDS,2011,265.9,84.8,272.8,111.4,326.5,383.2,583.2,441.5,757.1,212.3,150.8,238.5
106,ANDAMAN & NICOBAR ISLANDS,2012,119.9,45.6,30.9,55.8,533.9,458.2,317.3,369.6,868.9,209.7,300.5,187.3
107,ANDAMAN & NICOBAR ISLANDS,2013,67.1,37.6,43.0,46.3,509.3,777.0,564.8,336.7,473.6,455.8,354.2,92.3
108,ANDAMAN & NICOBAR ISLANDS,2014,41.9,8.6,0.0,11.1,238.0,416.6,467.6,321.6,412.9,402.6,201.2,100.4
109,ANDAMAN & NICOBAR ISLANDS,2015,126.8,7.6,3.1,138.2,331.9,346.4,328.9,480.0,523.3,252.1,236.3,129.9

In [14]:
data2.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            2
APR            2
MAY            1
JUN            2
JUL            2
AUG            2
SEP            3
OCT            2
NOV            2
DEC            3
dtype: int64

In [15]:
data2=data1.loc[(data.SUBDIVISION=='ANDAMAN & NICOBAR ISLANDS')]
data2

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,ANDAMAN & NICOBAR ISLANDS,2011,265.9,84.8,272.8,111.4,326.5,383.2,583.2,441.5,757.1,212.3,150.8,238.5
106,ANDAMAN & NICOBAR ISLANDS,2012,119.9,45.6,30.9,55.8,533.9,458.2,317.3,369.6,868.9,209.7,300.5,187.3
107,ANDAMAN & NICOBAR ISLANDS,2013,67.1,37.6,43.0,46.3,509.3,777.0,564.8,336.7,473.6,455.8,354.2,92.3
108,ANDAMAN & NICOBAR ISLANDS,2014,41.9,8.6,0.0,11.1,238.0,416.6,467.6,321.6,412.9,402.6,201.2,100.4
109,ANDAMAN & NICOBAR ISLANDS,2015,126.8,7.6,3.1,138.2,331.9,346.4,328.9,480.0,523.3,252.1,236.3,129.9

In [16]:
# data2=data2['JAN'].fillna((data2['JAN'].mean()), inplace=True)
# data2

In [17]:
data2['JAN'].fillna((data2['JAN'].mean()), inplace=True)
data2['FEB'].fillna((data2['FEB'].mean()), inplace=True)
data2['MAR'].fillna((data2['MAR'].mean()), inplace=True)
data2['APR'].fillna((data2['APR'].mean()), inplace=True)
data2['MAY'].fillna((data2['MAY'].mean()), inplace=True)
data2['JUN'].fillna((data2['JUN'].mean()), inplace=True)
data2['JUL'].fillna((data2['JUL'].mean()), inplace=True)
data2['AUG'].fillna((data2['AUG'].mean()), inplace=True)
data2['SEP'].fillna((data2['SEP'].mean()), inplace=True)
data2['OCT'].fillna((data2['OCT'].mean()), inplace=True)
data2['NOV'].fillna((data2['NOV'].mean()), inplace=True)
data2['DEC'].fillna((data2['DEC'].mean()), inplace=True)

In [18]:
data2

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,ANDAMAN & NICOBAR ISLANDS,2011,265.9,84.8,272.8,111.4,326.5,383.2,583.2,441.5,757.1,212.3,150.8,238.5
106,ANDAMAN & NICOBAR ISLANDS,2012,119.9,45.6,30.9,55.8,533.9,458.2,317.3,369.6,868.9,209.7,300.5,187.3
107,ANDAMAN & NICOBAR ISLANDS,2013,67.1,37.6,43.0,46.3,509.3,777.0,564.8,336.7,473.6,455.8,354.2,92.3
108,ANDAMAN & NICOBAR ISLANDS,2014,41.9,8.6,0.0,11.1,238.0,416.6,467.6,321.6,412.9,402.6,201.2,100.4
109,ANDAMAN & NICOBAR ISLANDS,2015,126.8,7.6,3.1,138.2,331.9,346.4,328.9,480.0,523.3,252.1,236.3,129.9

In [19]:
data2.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64

In [20]:
data3=data1.loc[(data.SUBDIVISION=='ARUNACHAL PRADESH')]
data3

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
110,ARUNACHAL PRADESH,1916,48.1,69.8,71.1,316.1,424.6,1124.9,NaN,629.7,333.9,NaN,NaN,NaN
111,ARUNACHAL PRADESH,1917,21.4,164.5,NaN,269.6,107.9,823.8,909.1,628.4,411.5,199.3,63.5,0.0
112,ARUNACHAL PRADESH,1918,10.4,11.0,191.2,144.6,861.1,1609.9,1303.0,692.6,515.8,125.2,7.8,13.7
113,ARUNACHAL PRADESH,1919,34.5,67.8,28.5,256.9,420.6,973.6,999.0,286.7,628.7,948.3,40.7,8.6
114,ARUNACHAL PRADESH,1920,14.0,196.3,605.6,364.7,173.6,840.6,535.4,896.5,376.7,103.3,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,ARUNACHAL PRADESH,2011,40.0,51.3,174.5,240.8,219.6,288.4,531.4,277.6,286.7,51.9,16.2,15.2
203,ARUNACHAL PRADESH,2012,57.8,35.8,134.2,403.4,187.4,645.8,638.9,316.0,724.9,248.1,22.0,26.2
204,ARUNACHAL PRADESH,2013,18.5,40.5,115.1,175.1,335.8,290.0,329.6,230.2,316.1,164.1,13.3,14.6
205,ARUNACHAL PRADESH,2014,19.0,101.9,80.3,86.7,299.0,415.8,392.4,599.6,343.0,35.1,20.1,10.2
206,ARUNACHAL PRADESH,2015,30.8,47.5,97.5,287.1,238.9,637.9,329.3,595.5,374.2,65.2,33.8,29.8

In [21]:
data3['JAN'].fillna((data3['JAN'].mean()), inplace=True)
data3['FEB'].fillna((data3['FEB'].mean()), inplace=True)
data3['MAR'].fillna((data3['MAR'].mean()), inplace=True)
data3['APR'].fillna((data3['APR'].mean()), inplace=True)
data3['MAY'].fillna((data3['MAY'].mean()), inplace=True)
data3['JUN'].fillna((data3['JUN'].mean()), inplace=True)
data3['JUL'].fillna((data3['JUL'].mean()), inplace=True)
data3['AUG'].fillna((data3['AUG'].mean()), inplace=True)
data3['SEP'].fillna((data3['SEP'].mean()), inplace=True)
data3['OCT'].fillna((data3['OCT'].mean()), inplace=True)
data3['NOV'].fillna((data3['NOV'].mean()), inplace=True)
data3['DEC'].fillna((data3['DEC'].mean()), inplace=True)
data3

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
110,ARUNACHAL PRADESH,1916,48.1,69.8,71.100000,316.1,424.6,1124.9,694.544792,629.7,333.9,194.686316,35.696842,24.502105
111,ARUNACHAL PRADESH,1917,21.4,164.5,153.527368,269.6,107.9,823.8,909.100000,628.4,411.5,199.300000,63.500000,0.000000
112,ARUNACHAL PRADESH,1918,10.4,11.0,191.200000,144.6,861.1,1609.9,1303.000000,692.6,515.8,125.200000,7.800000,13.700000
113,ARUNACHAL PRADESH,1919,34.5,67.8,28.500000,256.9,420.6,973.6,999.000000,286.7,628.7,948.300000,40.700000,8.600000
114,ARUNACHAL PRADESH,1920,14.0,196.3,605.600000,364.7,173.6,840.6,535.400000,896.5,376.7,103.300000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,ARUNACHAL PRADESH,2011,40.0,51.3,174.500000,240.8,219.6,288.4,531.400000,277.6,286.7,51.900000,16.200000,15.200000
203,ARUNACHAL PRADESH,2012,57.8,35.8,134.200000,403.4,187.4,645.8,638.900000,316.0,724.9,248.100000,22.000000,26.200000
204,ARUNACHAL PRADESH,2013,18.5,40.5,115.100000,175.1,335.8,290.0,329.600000,230.2,316.1,164.100000,13.300000,14.600000
205,ARUNACHAL PRADESH,2014,19.0,101.9,80.300000,86.7,299.0,415.8,392.400000,599.6,343.0,35.100000,20.100000,10.200000
206,ARUNACHAL PRADESH,2015,30.8,47.5,97.500000,287.1,238.9,637.9,329.300000,595.5,374.2,65.200000,33.800000,29.800000

In [22]:
data3.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64

In [23]:
data4=data1.loc[(data.SUBDIVISION=='JAMMU & KASHMIR')]
data4

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
1702,JAMMU & KASHMIR,1901,66.4,69.3,69.6,132.2,105.8,53.4,171.7,181.3,101.8,24.1,0.0,4.4
1703,JAMMU & KASHMIR,1902,6.5,9.7,91.3,100.5,70.7,113.3,108.4,136.9,62.2,15.1,44.0,1.8
1704,JAMMU & KASHMIR,1903,96.2,21.5,238.6,58.7,57.3,18.9,332.5,218.6,176.9,10.7,15.0,41.8
1705,JAMMU & KASHMIR,1904,110.6,17.3,145.2,64.5,67.8,25.9,182.3,132.2,62.3,50.0,24.8,99.2
1706,JAMMU & KASHMIR,1905,146.7,76.3,161.4,71.7,65.2,43.3,145.2,111.5,239.7,5.8,0.6,90.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1812,JAMMU & KASHMIR,2011,43.4,211.6,97.8,89.0,32.4,72.5,81.6,131.2,72.0,19.4,12.9,23.8
1813,JAMMU & KASHMIR,2012,150.9,95.8,45.2,86.6,48.9,32.6,118.8,264.9,106.7,15.7,10.8,57.8
1814,JAMMU & KASHMIR,2013,52.2,136.4,41.9,47.4,47.4,80.5,125.1,219.1,41.2,34.4,13.4,20.3
1815,JAMMU & KASHMIR,2014,75.8,64.0,153.1,76.1,52.7,25.3,100.5,134.6,362.8,32.2,14.1,2.3
1816,JAMMU & KASHMIR,2015,27.9,187.2,341.4,173.3,64.6,121.4,233.2,129.2,130.2,87.1,38.1,39.3

In [24]:
data4['JAN'].fillna((data4['JAN'].mean()), inplace=True)
data4['FEB'].fillna((data4['FEB'].mean()), inplace=True)
data4['MAR'].fillna((data4['MAR'].mean()), inplace=True)
data4['APR'].fillna((data4['APR'].mean()), inplace=True)
data4['MAY'].fillna((data4['MAY'].mean()), inplace=True)
data4['JUN'].fillna((data4['JUN'].mean()), inplace=True)
data4['JUL'].fillna((data4['JUL'].mean()), inplace=True)
data4['AUG'].fillna((data4['AUG'].mean()), inplace=True)
data4['SEP'].fillna((data4['SEP'].mean()), inplace=True)
data4['OCT'].fillna((data4['OCT'].mean()), inplace=True)
data4['NOV'].fillna((data4['NOV'].mean()), inplace=True)
data4['DEC'].fillna((data4['DEC'].mean()), inplace=True)
data4

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
1702,JAMMU & KASHMIR,1901,66.4,69.3,69.6,132.2,105.8,53.4,171.7,181.3,101.8,24.1,0.0,4.4
1703,JAMMU & KASHMIR,1902,6.5,9.7,91.3,100.5,70.7,113.3,108.4,136.9,62.2,15.1,44.0,1.8
1704,JAMMU & KASHMIR,1903,96.2,21.5,238.6,58.7,57.3,18.9,332.5,218.6,176.9,10.7,15.0,41.8
1705,JAMMU & KASHMIR,1904,110.6,17.3,145.2,64.5,67.8,25.9,182.3,132.2,62.3,50.0,24.8,99.2
1706,JAMMU & KASHMIR,1905,146.7,76.3,161.4,71.7,65.2,43.3,145.2,111.5,239.7,5.8,0.6,90.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1812,JAMMU & KASHMIR,2011,43.4,211.6,97.8,89.0,32.4,72.5,81.6,131.2,72.0,19.4,12.9,23.8
1813,JAMMU & KASHMIR,2012,150.9,95.8,45.2,86.6,48.9,32.6,118.8,264.9,106.7,15.7,10.8,57.8
1814,JAMMU & KASHMIR,2013,52.2,136.4,41.9,47.4,47.4,80.5,125.1,219.1,41.2,34.4,13.4,20.3
1815,JAMMU & KASHMIR,2014,75.8,64.0,153.1,76.1,52.7,25.3,100.5,134.6,362.8,32.2,14.1,2.3
1816,JAMMU & KASHMIR,2015,27.9,187.2,341.4,173.3,64.6,121.4,233.2,129.2,130.2,87.1,38.1,39.3

In [25]:
data4.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64

In [26]:
data5=data1.loc[(data.SUBDIVISION=='WEST MADHYA PRADESH')]
data5

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
2047,WEST MADHYA PRADESH,1901,25.8,5.8,5.8,2.8,2.1,41.2,228.9,349.9,47.9,5.6,0.0,2.4
2048,WEST MADHYA PRADESH,1902,22.1,8.4,0.0,2.0,5.9,35.9,401.9,179.4,194.1,37.9,10.0,14.2
2049,WEST MADHYA PRADESH,1903,5.3,0.0,0.0,0.0,22.3,50.6,304.9,261.1,250.2,55.1,0.0,0.0
2050,WEST MADHYA PRADESH,1904,3.2,15.5,14.8,0.0,12.0,96.6,273.0,218.6,125.9,3.3,1.8,9.6
2051,WEST MADHYA PRADESH,1905,3.5,4.4,1.1,0.8,3.0,36.1,326.3,137.6,183.5,0.3,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2157,WEST MADHYA PRADESH,2011,0.0,1.7,0.1,1.8,3.6,241.5,306.7,343.3,165.0,0.2,0.0,0.0
2158,WEST MADHYA PRADESH,2012,6.2,0.0,0.0,0.9,3.1,48.2,439.2,341.2,194.3,2.1,0.0,0.0
2159,WEST MADHYA PRADESH,2013,1.7,31.1,8.5,2.8,0.4,263.7,485.1,432.6,98.9,68.7,0.3,2.4
2160,WEST MADHYA PRADESH,2014,25.6,34.4,4.6,1.4,1.4,30.6,337.4,211.0,192.6,7.0,3.0,15.8
2161,WEST MADHYA PRADESH,2015,40.2,6.4,53.5,13.3,2.0,154.1,428.2,276.6,55.6,11.0,0.3,1.0

In [27]:
data5['JAN'].fillna((data5['JAN'].mean()), inplace=True)
data5['FEB'].fillna((data5['FEB'].mean()), inplace=True)
data5['MAR'].fillna((data5['MAR'].mean()), inplace=True)
data5['APR'].fillna((data5['APR'].mean()), inplace=True)
data5['MAY'].fillna((data5['MAY'].mean()), inplace=True)
data5['JUN'].fillna((data5['JUN'].mean()), inplace=True)
data5['JUL'].fillna((data5['JUL'].mean()), inplace=True)
data5['AUG'].fillna((data5['AUG'].mean()), inplace=True)
data5['SEP'].fillna((data5['SEP'].mean()), inplace=True)
data5['OCT'].fillna((data5['OCT'].mean()), inplace=True)
data5['NOV'].fillna((data5['NOV'].mean()), inplace=True)
data5['DEC'].fillna((data5['DEC'].mean()), inplace=True)
data5

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
2047,WEST MADHYA PRADESH,1901,25.8,5.8,5.8,2.8,2.1,41.2,228.9,349.9,47.9,5.6,0.0,2.4
2048,WEST MADHYA PRADESH,1902,22.1,8.4,0.0,2.0,5.9,35.9,401.9,179.4,194.1,37.9,10.0,14.2
2049,WEST MADHYA PRADESH,1903,5.3,0.0,0.0,0.0,22.3,50.6,304.9,261.1,250.2,55.1,0.0,0.0
2050,WEST MADHYA PRADESH,1904,3.2,15.5,14.8,0.0,12.0,96.6,273.0,218.6,125.9,3.3,1.8,9.6
2051,WEST MADHYA PRADESH,1905,3.5,4.4,1.1,0.8,3.0,36.1,326.3,137.6,183.5,0.3,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2157,WEST MADHYA PRADESH,2011,0.0,1.7,0.1,1.8,3.6,241.5,306.7,343.3,165.0,0.2,0.0,0.0
2158,WEST MADHYA PRADESH,2012,6.2,0.0,0.0,0.9,3.1,48.2,439.2,341.2,194.3,2.1,0.0,0.0
2159,WEST MADHYA PRADESH,2013,1.7,31.1,8.5,2.8,0.4,263.7,485.1,432.6,98.9,68.7,0.3,2.4
2160,WEST MADHYA PRADESH,2014,25.6,34.4,4.6,1.4,1.4,30.6,337.4,211.0,192.6,7.0,3.0,15.8
2161,WEST MADHYA PRADESH,2015,40.2,6.4,53.5,13.3,2.0,154.1,428.2,276.6,55.6,11.0,0.3,1.0

In [28]:
data5.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64

In [29]:
data6=data1.loc[(data.SUBDIVISION=='LAKSHADWEEP')]
data6

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
4002,LAKSHADWEEP,1901,22.6,86.4,114.8,263.8,37.3,459.0,0.0,0.0,46.7,183.7,229.9,15.0
4003,LAKSHADWEEP,1902,99.3,9.6,32.6,40.4,179.1,374.2,413.3,170.0,214.3,384.2,192.8,49.0
4004,LAKSHADWEEP,1903,63.5,95.0,0.0,29.5,144.1,212.4,261.8,202.0,292.1,79.1,NaN,NaN
4005,LAKSHADWEEP,1904,0.0,0.0,13.5,13.2,143.3,261.3,256.0,38.9,219.9,153.6,8.3,68.9
4006,LAKSHADWEEP,1905,62.4,0.0,0.0,0.0,166.7,400.7,68.7,377.5,107.5,232.1,159.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4111,LAKSHADWEEP,2011,5.1,2.8,3.1,85.9,107.2,153.6,350.2,254.0,255.2,117.4,184.3,14.9
4112,LAKSHADWEEP,2012,19.2,0.1,1.6,76.8,21.2,327.0,231.5,381.2,179.8,145.9,12.4,8.8
4113,LAKSHADWEEP,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,154.4,180.0,72.8,78.1,26.7
4114,LAKSHADWEEP,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,466.1,132.2,169.2,59.0,62.3
4115,LAKSHADWEEP,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,146.4,160.4,165.4,231.0,159.0

In [30]:
data6['JAN'].fillna((data6['JAN'].mean()), inplace=True)
data6['FEB'].fillna((data6['FEB'].mean()), inplace=True)
data6['MAR'].fillna((data6['MAR'].mean()), inplace=True)
data6['APR'].fillna((data6['APR'].mean()), inplace=True)
data6['MAY'].fillna((data6['MAY'].mean()), inplace=True)
data6['JUN'].fillna((data6['JUN'].mean()), inplace=True)
data6['JUL'].fillna((data6['JUL'].mean()), inplace=True)
data6['AUG'].fillna((data6['AUG'].mean()), inplace=True)
data6['SEP'].fillna((data6['SEP'].mean()), inplace=True)
data6['OCT'].fillna((data6['OCT'].mean()), inplace=True)
data6['NOV'].fillna((data6['NOV'].mean()), inplace=True)
data6['DEC'].fillna((data6['DEC'].mean()), inplace=True)
data6

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
4002,LAKSHADWEEP,1901,22.6,86.4,114.8,263.8,37.3,459.0,0.0,0.0,46.7,183.7,229.900000,15.000000
4003,LAKSHADWEEP,1902,99.3,9.6,32.6,40.4,179.1,374.2,413.3,170.0,214.3,384.2,192.800000,49.000000
4004,LAKSHADWEEP,1903,63.5,95.0,0.0,29.5,144.1,212.4,261.8,202.0,292.1,79.1,124.840741,60.810909
4005,LAKSHADWEEP,1904,0.0,0.0,13.5,13.2,143.3,261.3,256.0,38.9,219.9,153.6,8.300000,68.900000
4006,LAKSHADWEEP,1905,62.4,0.0,0.0,0.0,166.7,400.7,68.7,377.5,107.5,232.1,159.300000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4111,LAKSHADWEEP,2011,5.1,2.8,3.1,85.9,107.2,153.6,350.2,254.0,255.2,117.4,184.300000,14.900000
4112,LAKSHADWEEP,2012,19.2,0.1,1.6,76.8,21.2,327.0,231.5,381.2,179.8,145.9,12.400000,8.800000
4113,LAKSHADWEEP,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,154.4,180.0,72.8,78.100000,26.700000
4114,LAKSHADWEEP,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,466.1,132.2,169.2,59.000000,62.300000
4115,LAKSHADWEEP,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,146.4,160.4,165.4,231.000000,159.000000

In [31]:
data6.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64

In [32]:
data7=data1.loc[(data.SUBDIVISION=='COASTAL KARNATAKA')]
data7

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
3542,COASTAL KARNATAKA,1901,1.8,0.6,10.7,52.4,81.6,960.9,991.2,606.4,108.0,120.5,104.9,17.8
3543,COASTAL KARNATAKA,1902,3.2,0.3,4.9,10.2,54.6,698.4,1401.6,454.2,708.4,180.4,50.8,132.2
3544,COASTAL KARNATAKA,1903,0.7,0.0,0.0,4.1,202.8,536.5,1405.5,593.8,304.4,185.0,79.3,5.3
3545,COASTAL KARNATAKA,1904,2.4,0.0,4.8,23.7,93.2,1108.2,1070.0,465.6,245.3,127.2,0.7,0.0
3546,COASTAL KARNATAKA,1905,0.0,0.2,0.0,6.4,83.1,767.3,777.3,586.9,172.9,222.2,36.1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3652,COASTAL KARNATAKA,2011,4.8,3.8,8.7,66.1,49.3,1018.4,1080.5,861.3,545.2,178.8,81.5,10.2
3653,COASTAL KARNATAKA,2012,NaN,11.4,5.1,77.0,22.9,650.9,754.6,1027.6,382.0,115.1,68.0,3.6
3654,COASTAL KARNATAKA,2013,2.4,19.6,19.0,28.5,100.4,1153.0,1515.3,680.2,379.1,265.1,56.9,10.0
3655,COASTAL KARNATAKA,2014,0.0,0.3,1.9,40.5,181.9,507.0,1155.4,1121.0,379.3,226.4,40.0,30.8
3656,COASTAL KARNATAKA,2015,1.4,1.0,32.3,72.2,150.3,735.3,930.9,575.2,260.3,208.5,124.2,14.3

In [33]:
data7['JAN'].fillna((data7['JAN'].mean()), inplace=True)
data7['FEB'].fillna((data7['FEB'].mean()), inplace=True)
data7['MAR'].fillna((data7['MAR'].mean()), inplace=True)
data7['APR'].fillna((data7['APR'].mean()), inplace=True)
data7['MAY'].fillna((data7['MAY'].mean()), inplace=True)
data7['JUN'].fillna((data7['JUN'].mean()), inplace=True)
data7['JUL'].fillna((data7['JUL'].mean()), inplace=True)
data7['AUG'].fillna((data7['AUG'].mean()), inplace=True)
data7['SEP'].fillna((data7['SEP'].mean()), inplace=True)
data7['OCT'].fillna((data7['OCT'].mean()), inplace=True)
data7['NOV'].fillna((data7['NOV'].mean()), inplace=True)
data7['DEC'].fillna((data7['DEC'].mean()), inplace=True)
data7

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
3542,COASTAL KARNATAKA,1901,1.800000,0.6,10.7,52.4,81.6,960.9,991.2,606.4,108.0,120.5,104.9,17.8
3543,COASTAL KARNATAKA,1902,3.200000,0.3,4.9,10.2,54.6,698.4,1401.6,454.2,708.4,180.4,50.8,132.2
3544,COASTAL KARNATAKA,1903,0.700000,0.0,0.0,4.1,202.8,536.5,1405.5,593.8,304.4,185.0,79.3,5.3
3545,COASTAL KARNATAKA,1904,2.400000,0.0,4.8,23.7,93.2,1108.2,1070.0,465.6,245.3,127.2,0.7,0.0
3546,COASTAL KARNATAKA,1905,0.000000,0.2,0.0,6.4,83.1,767.3,777.3,586.9,172.9,222.2,36.1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3652,COASTAL KARNATAKA,2011,4.800000,3.8,8.7,66.1,49.3,1018.4,1080.5,861.3,545.2,178.8,81.5,10.2
3653,COASTAL KARNATAKA,2012,1.937719,11.4,5.1,77.0,22.9,650.9,754.6,1027.6,382.0,115.1,68.0,3.6
3654,COASTAL KARNATAKA,2013,2.400000,19.6,19.0,28.5,100.4,1153.0,1515.3,680.2,379.1,265.1,56.9,10.0
3655,COASTAL KARNATAKA,2014,0.000000,0.3,1.9,40.5,181.9,507.0,1155.4,1121.0,379.3,226.4,40.0,30.8
3656,COASTAL KARNATAKA,2015,1.400000,1.0,32.3,72.2,150.3,735.3,930.9,575.2,260.3,208.5,124.2,14.3

In [34]:
data7.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64

In [35]:
# x = data1['SUBDIVISION'].unique().tolist()
# for i in x:
#     print(i)
#     z = data1[data1['SUBDIVISION'] == i]
#     print(z.isna().sum())
#     print("#####################")

In [36]:
data8=pd.concat([data2,data3,data4,data5,data6,data7])
data8

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,ANDAMAN & NICOBAR ISLANDS,1901,49.200000,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6
1,ANDAMAN & NICOBAR ISLANDS,1902,0.000000,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5
2,ANDAMAN & NICOBAR ISLANDS,1903,12.700000,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0
3,ANDAMAN & NICOBAR ISLANDS,1904,9.400000,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1
4,ANDAMAN & NICOBAR ISLANDS,1905,1.300000,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3652,COASTAL KARNATAKA,2011,4.800000,3.8,8.7,66.1,49.3,1018.4,1080.5,861.3,545.2,178.8,81.5,10.2
3653,COASTAL KARNATAKA,2012,1.937719,11.4,5.1,77.0,22.9,650.9,754.6,1027.6,382.0,115.1,68.0,3.6
3654,COASTAL KARNATAKA,2013,2.400000,19.6,19.0,28.5,100.4,1153.0,1515.3,680.2,379.1,265.1,56.9,10.0
3655,COASTAL KARNATAKA,2014,0.000000,0.3,1.9,40.5,181.9,507.0,1155.4,1121.0,379.3,226.4,40.0,30.8
3656,COASTAL KARNATAKA,2015,1.400000,1.0,32.3,72.2,150.3,735.3,930.9,575.2,260.3,208.5,124.2,14.3

In [37]:
null_state=['ANDAMAN & NICOBAR ISLANDS','ARUNACHAL PRADESH','JAMMU & KASHMIR','WEST MADHYA PRADESH','COASTAL KARNATAKA','LAKSHADWEEP']
cols=['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']
for i in null_state:
    z=data1[data1['SUBDIVISION']== i]
    for j in cols:
        col_mean= z[j].mean()
        z[j].fillna(col_mean,inplace=True)
    data1.update(z)
print(data1.shape)
print(data1.isna().sum())
data1.head()

(4116, 14)
SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7

In [48]:
A=data1[ (data1['SUBDIVISION']=='KERALA') | (data1['SUBDIVISION']=='EAST RAJASTHAN') | (data1['SUBDIVISION']=='WEST RAJASTHAN') | (data1['SUBDIVISION']=='ARUNACHAL PRADESH')]
A

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
110,ARUNACHAL PRADESH,1916,48.1,69.8,71.100000,316.1,424.6,1124.9,694.544792,629.7,333.9,194.686316,35.696842,24.502105
111,ARUNACHAL PRADESH,1917,21.4,164.5,153.527368,269.6,107.9,823.8,909.100000,628.4,411.5,199.300000,63.500000,0.000000
112,ARUNACHAL PRADESH,1918,10.4,11.0,191.200000,144.6,861.1,1609.9,1303.000000,692.6,515.8,125.200000,7.800000,13.700000
113,ARUNACHAL PRADESH,1919,34.5,67.8,28.500000,256.9,420.6,973.6,999.000000,286.7,628.7,948.300000,40.700000,8.600000
114,ARUNACHAL PRADESH,1920,14.0,196.3,605.600000,364.7,173.6,840.6,535.400000,896.5,376.7,103.300000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3997,KERALA,2011,20.5,45.7,24.100000,165.2,124.2,788.5,536.800000,492.7,391.2,227.200000,169.700000,49.500000
3998,KERALA,2012,7.4,11.0,21.000000,171.1,95.3,430.3,362.600000,501.6,241.1,187.500000,112.900000,9.400000
3999,KERALA,2013,3.9,40.1,49.900000,49.3,119.3,1042.7,830.200000,369.7,318.6,259.900000,154.900000,17.000000
4000,KERALA,2014,4.6,10.3,17.900000,95.7,251.0,454.4,677.800000,733.9,298.8,355.500000,99.500000,47.200000
4001,KERALA,2015,3.1,5.8,50.100000,214.1,201.8,563.6,406.000000,252.2,292.9,308.100000,223.600000,79.400000

In [49]:
A['JJAS']=A.apply(lambda row:row.JUN + row.JUL + row.AUG + row.SEP,axis=1)#JJAS=jun,jul,aug,sep
A

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JJAS
110,ARUNACHAL PRADESH,1916,48.1,69.8,71.100000,316.1,424.6,1124.9,694.544792,629.7,333.9,194.686316,35.696842,24.502105,2783.044792
111,ARUNACHAL PRADESH,1917,21.4,164.5,153.527368,269.6,107.9,823.8,909.100000,628.4,411.5,199.300000,63.500000,0.000000,2772.800000
112,ARUNACHAL PRADESH,1918,10.4,11.0,191.200000,144.6,861.1,1609.9,1303.000000,692.6,515.8,125.200000,7.800000,13.700000,4121.300000
113,ARUNACHAL PRADESH,1919,34.5,67.8,28.500000,256.9,420.6,973.6,999.000000,286.7,628.7,948.300000,40.700000,8.600000,2888.000000
114,ARUNACHAL PRADESH,1920,14.0,196.3,605.600000,364.7,173.6,840.6,535.400000,896.5,376.7,103.300000,0.000000,0.000000,2649.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3997,KERALA,2011,20.5,45.7,24.100000,165.2,124.2,788.5,536.800000,492.7,391.2,227.200000,169.700000,49.500000,2209.200000
3998,KERALA,2012,7.4,11.0,21.000000,171.1,95.3,430.3,362.600000,501.6,241.1,187.500000,112.900000,9.400000,1535.600000
3999,KERALA,2013,3.9,40.1,49.900000,49.3,119.3,1042.7,830.200000,369.7,318.6,259.900000,154.900000,17.000000,2561.200000
4000,KERALA,2014,4.6,10.3,17.900000,95.7,251.0,454.4,677.800000,733.9,298.8,355.500000,99.500000,47.200000,2164.900000
4001,KERALA,2015,3.1,5.8,50.100000,214.1,201.8,563.6,406.000000,252.2,292.9,308.100000,223.600000,79.400000,1514.700000

In [50]:
A['OND']=A.apply(lambda row:row.OCT + row.NOV + row.DEC ,axis=1)#OND=oct,nov,dec
A

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JJAS,OND
110,ARUNACHAL PRADESH,1916,48.1,69.8,71.100000,316.1,424.6,1124.9,694.544792,629.7,333.9,194.686316,35.696842,24.502105,2783.044792,254.885263
111,ARUNACHAL PRADESH,1917,21.4,164.5,153.527368,269.6,107.9,823.8,909.100000,628.4,411.5,199.300000,63.500000,0.000000,2772.800000,262.800000
112,ARUNACHAL PRADESH,1918,10.4,11.0,191.200000,144.6,861.1,1609.9,1303.000000,692.6,515.8,125.200000,7.800000,13.700000,4121.300000,146.700000
113,ARUNACHAL PRADESH,1919,34.5,67.8,28.500000,256.9,420.6,973.6,999.000000,286.7,628.7,948.300000,40.700000,8.600000,2888.000000,997.600000
114,ARUNACHAL PRADESH,1920,14.0,196.3,605.600000,364.7,173.6,840.6,535.400000,896.5,376.7,103.300000,0.000000,0.000000,2649.200000,103.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3997,KERALA,2011,20.5,45.7,24.100000,165.2,124.2,788.5,536.800000,492.7,391.2,227.200000,169.700000,49.500000,2209.200000,446.400000
3998,KERALA,2012,7.4,11.0,21.000000,171.1,95.3,430.3,362.600000,501.6,241.1,187.500000,112.900000,9.400000,1535.600000,309.800000
3999,KERALA,2013,3.9,40.1,49.900000,49.3,119.3,1042.7,830.200000,369.7,318.6,259.900000,154.900000,17.000000,2561.200000,431.800000
4000,KERALA,2014,4.6,10.3,17.900000,95.7,251.0,454.4,677.800000,733.9,298.8,355.500000,99.500000,47.200000,2164.900000,502.200000
4001,KERALA,2015,3.1,5.8,50.100000,214.1,201.8,563.6,406.000000,252.2,292.9,308.100000,223.600000,79.400000,1514.700000,611.100000

In [51]:
A['ANNUAL_RAIN_fall']=A.apply(lambda row: row.JAN + row.FEB + row.MAR + row.APR + row.MAY + row.JUN + row.JUL + row.AUG + row.SEP + row.OCT + row.NOV + row.DEC,axis=1)
A

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JJAS,OND,ANNUAL_RAIN_fall
110,ARUNACHAL PRADESH,1916,48.1,69.8,71.100000,316.1,424.6,1124.9,694.544792,629.7,333.9,194.686316,35.696842,24.502105,2783.044792,254.885263,3967.630055
111,ARUNACHAL PRADESH,1917,21.4,164.5,153.527368,269.6,107.9,823.8,909.100000,628.4,411.5,199.300000,63.500000,0.000000,2772.800000,262.800000,3752.527368
112,ARUNACHAL PRADESH,1918,10.4,11.0,191.200000,144.6,861.1,1609.9,1303.000000,692.6,515.8,125.200000,7.800000,13.700000,4121.300000,146.700000,5486.300000
113,ARUNACHAL PRADESH,1919,34.5,67.8,28.500000,256.9,420.6,973.6,999.000000,286.7,628.7,948.300000,40.700000,8.600000,2888.000000,997.600000,4693.900000
114,ARUNACHAL PRADESH,1920,14.0,196.3,605.600000,364.7,173.6,840.6,535.400000,896.5,376.7,103.300000,0.000000,0.000000,2649.200000,103.300000,4106.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3997,KERALA,2011,20.5,45.7,24.100000,165.2,124.2,788.5,536.800000,492.7,391.2,227.200000,169.700000,49.500000,2209.200000,446.400000,3035.300000
3998,KERALA,2012,7.4,11.0,21.000000,171.1,95.3,430.3,362.600000,501.6,241.1,187.500000,112.900000,9.400000,1535.600000,309.800000,2151.200000
3999,KERALA,2013,3.9,40.1,49.900000,49.3,119.3,1042.7,830.200000,369.7,318.6,259.900000,154.900000,17.000000,2561.200000,431.800000,3255.500000
4000,KERALA,2014,4.6,10.3,17.900000,95.7,251.0,454.4,677.800000,733.9,298.8,355.500000,99.500000,47.200000,2164.900000,502.200000,3046.600000
4001,KERALA,2015,3.1,5.8,50.100000,214.1,201.8,563.6,406.000000,252.2,292.9,308.100000,223.600000,79.400000,1514.700000,611.100000,2600.700000

In [52]:
A.isnull().sum()

SUBDIVISION         0
YEAR                0
JAN                 0
FEB                 0
MAR                 0
APR                 0
MAY                 0
JUN                 0
JUL                 0
AUG                 0
SEP                 0
OCT                 0
NOV                 0
DEC                 0
JJAS                0
OND                 0
ANNUAL_RAIN_fall    0
dtype: int64

In [53]:
daata=A.filter(['SUBDIVISION','YEAR','JJAS','OND','ANNUAL_RAIN_fall'],axis=1)
daata

            SUBDIVISION  YEAR         JJAS         OND  ANNUAL_RAIN_fall
110   ARUNACHAL PRADESH  1916  2783.044792  254.885263       3967.630055
111   ARUNACHAL PRADESH  1917  2772.800000  262.800000       3752.527368
112   ARUNACHAL PRADESH  1918  4121.300000  146.700000       5486.300000
113   ARUNACHAL PRADESH  1919  2888.000000  997.600000       4693.900000
114   ARUNACHAL PRADESH  1920  2649.200000  103.300000       4106.700000
...                 ...   ...          ...         ...               ...
3997             KERALA  2011  2209.200000  446.400000       3035.300000
3998             KERALA  2012  1535.600000  309.800000       2151.200000
3999             KERALA  2013  2561.200000  431.800000       3255.500000
4000             KERALA  2014  2164.900000  502.200000       3046.600000
4001             KERALA  2015  1514.700000  611.100000       2600.700000

[442 rows x 5 columns]

In [54]:
daata.isnull().sum()

SUBDIVISION         0
YEAR                0
JJAS                0
OND                 0
ANNUAL_RAIN_fall    0
dtype: int64

In [55]:
daata.to_csv('rain.csv')
daata

            SUBDIVISION  YEAR         JJAS         OND  ANNUAL_RAIN_fall
110   ARUNACHAL PRADESH  1916  2783.044792  254.885263       3967.630055
111   ARUNACHAL PRADESH  1917  2772.800000  262.800000       3752.527368
112   ARUNACHAL PRADESH  1918  4121.300000  146.700000       5486.300000
113   ARUNACHAL PRADESH  1919  2888.000000  997.600000       4693.900000
114   ARUNACHAL PRADESH  1920  2649.200000  103.300000       4106.700000
...                 ...   ...          ...         ...               ...
3997             KERALA  2011  2209.200000  446.400000       3035.300000
3998             KERALA  2012  1535.600000  309.800000       2151.200000
3999             KERALA  2013  2561.200000  431.800000       3255.500000
4000             KERALA  2014  2164.900000  502.200000       3046.600000
4001             KERALA  2015  1514.700000  611.100000       2600.700000

[442 rows x 5 columns]